# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
DATABASE_URL=postgres://postgres:password@postgres:5432/postgres?sslmode=disable

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@test.com
PGADMIN_DEFAULT_PASSWORD=password

# common
LOG_LEVEL=DEBUG

# app
PORT=8080
APP_LOG_FILE_PATH=/logs/app.log
